<style>

.title{
    font-weight: bold;
    text-align: center
}

.text{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

.corpotxt{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

</style>

<div class="corpotxt">

    <h3 class="title">Funções das Flores</h3>
    <label class="text" for="">A função primordial das flores é a produção de sementes para a formação de novas plantas, garantindo a sobrevivência das espécies.

            Assim, a flor é responsável pela reprodução das plantas. Para isso, elas são formadas por folhas modificadas, geralmente de cores atrativas e formatos diferenciados para atrair os seus polinizadores.</label><br><br>
        <h3 class="title">Partes das flores</h3>
        <img src="https://static.todamateria.com.br/upload/pa/rt/partesdaflor-cke.jpg" alt=""><br>
    <label class="text" for="">Uma flor completa apresenta as seguintes estruturas:

            Estame: estrutura masculina da flor onde localizam-se o filete e a antera.
            Carpelo: estrutura feminina da flor, formada pelo estigma, estilete e ovário.
            Pétalas: folhas modificadas e coloridas com a função de atrair os polinizadores. O conjunto de pétalas é chamado de corola.
            Sépalas: localizadas abaixo das pétalas, geralmente, de coloração verde. O conjunto de sépalas é chamado de cálice.
            Toda essa estrutura é sustentada pelo pedúnculo, haste responsável por ligar a flor à planta.
            
            O pedúnculo apresenta uma porção dilatada ligada à flor denominada de receptáculo floral, onde estão inseridos os elementos florais.</label><br><br>
                <h3 class="title">Gineceu e Androceu</h3>
                <img src="https://static.todamateria.com.br/upload/fl/or/florfemininaemasculina-cke.jpg" alt=""><br>
    <label class="text" for="">De acordo com a estrutura da flor, ela pode ser feminina ou masculina. Essa definição depende da presença do gineceu e do androceu.</label><br><br>
                <h3 class="title">Gineceu</h3>
    <label class="text" for="">O conjunto de carpelos é denominado de gineceu, a parte feminina da flor.

            O gineceu é formado por carpelos, pistilo, estigma, estilete e ovário. Dentro do ovário estão os gametas femininos da planta.
            
            O estigma é a porção que recebe o grão de pólen e através do estilete liga-se ao ovário. Já o ovário é a parte que vai se transformar em fruto.
            
            O fruto é resultado do desenvolvimento do ovário, enquanto a semente representa o desenvolvimento do óvulo depois da fecundação.</label><br><br>
                <h3 class="title">Androceu</h3>
    <label class="text" for="">O conjunto de estames é denominado de androceu, a parte masculina da flor. O androceu é formado pelos estames, antera e filete.

            Os estames são formados pela antera e filete. O filete corresponde a uma haste longa e fina, onde em sua extremidade encontra-se a antera, responsável pela produção do pólen.</label><br><br>
</div>
